# Binaries
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user

# Rider files
.idea/

# User-specific files
*.userosscache
*.sln.docstates

# Build results
[Bb]uild/
[Rr]elease/
[Dd]ebug/

# Secrets
appsettings.Development.json
secrets.json
/docker-compose.override.yml
