services:
  # --- INFRASTRUCTURE ---
  event-db:
    image: postgres:15
    container_name: event-postgres
    ports:
      - "5432:5432" 
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: event_db
    volumes:
      - event_data:/var/lib/postgresql/data/

  inventory-db:
    image: postgres:15
    container_name: inventory-postgres
    ports:
      - "5433:5432" 
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: inventory_db
    volumes:
      - inventory_data:/var/lib/postgresql/data/

  payment-db:
    image: postgres:15
    container_name: payment-postgres
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: payment_db
    volumes:
      - payment_data:/var/lib/postgresql/data/

  order-db:
    image: postgres:15
    container_name: order-postgres
    ports:
      - "5435:5432" 
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: order_db
    volumes:
      - order_data:/var/lib/postgresql/data/

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686"
      - "4317:4317"

  seq:
    image: datalust/seq:latest
    container_name: seq
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=MatKhauSieuManh123!
    ports:
      - "5341:5341"
      - "8081:80"
    volumes:
      - ./seq-data:/data

  # --- SERVICES ---
  ticketsalesplatform.apigateway:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformapigateway
    build:
      context: .
      dockerfile: src/ApiGateway/Dockerfile
    ports:
      - "7000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - Authentication__Authority=http://ticketsalesplatform.identity.api:8080
      - OpenTelemetry__Endpoint=http://jaeger:4317
      - Serilog__SeqServerUrl=http://seq:5341
    depends_on:
      - ticketsalesplatform.events.api
      - ticketsalesplatform.orders.api
      - ticketsalesplatform.identity.api
      - ticketsalesplatform.inventory.api
      - ticketsalesplatform.payment.api

  ticketsalesplatform.events.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformeventsapi
    build:
      context: .
      dockerfile: src/Services/Events/Events.Api/Dockerfile
    ports:
      - "7001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Host=event-db;Port=5432;Database=event_db;Username=user;Password=password
      - Authentication__Authority=http://ticketsalesplatform.identity.api:8080
      - MessageBroker__Host=rabbitmq
      - OpenTelemetry__Endpoint=http://jaeger:4317
      - Serilog__SeqServerUrl=http://seq:5341
    depends_on:
      - event-db
      - ticketsalesplatform.identity.api
      - rabbitmq

  ticketsalesplatform.orders.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformordersapi
    build:
      context: .
      dockerfile: src/Services/Orders/Orders.Api/Dockerfile
    ports:
      - "7002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Host=order-db;Port=5432;Database=order_db;Username=user;Password=password
      - Authentication__Authority=http://ticketsalesplatform.identity.api:8080
      - MessageBroker__Host=rabbitmq
      - Services__EventsApiUrl=http://ticketsalesplatform.events.api:8080
      - Services__InventoryApiUrl=http://ticketsalesplatform.inventory.api:8080 
      - OpenTelemetry__Endpoint=http://jaeger:4317
      - Serilog__SeqServerUrl=http://seq:5341
    depends_on:
      - order-db
      - rabbitmq
      - ticketsalesplatform.identity.api
      - ticketsalesplatform.inventory.api

  ticketsalesplatform.inventory.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatforminventoryapi
    build:
      context: .
      dockerfile: src/Services/Inventory/Inventory.Api/Dockerfile
    ports:
      - "7004:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Host=inventory-db;Port=5432;Database=inventory_db;Username=user;Password=password
      - Authentication__Authority=http://ticketsalesplatform.identity.api:8080
      - MessageBroker__Host=rabbitmq
      - OpenTelemetry__Endpoint=http://jaeger:4317
      - Serilog__SeqServerUrl=http://seq:5341
    depends_on:
      - inventory-db
      - rabbitmq
      - ticketsalesplatform.identity.api

  ticketsalesplatform.payment.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformpaymentapi
    build:
      context: .
      dockerfile: src/Services/Payments/Payments.Api/Dockerfile
    ports:
      - "7005:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Host=payment-db;Port=5432;Database=payment_db;Username=user;Password=password
      - Authentication__Authority=http://ticketsalesplatform.identity.api:8080
      - MessageBroker__Host=rabbitmq
      - Services__OrderApiUrl=http://ticketsalesplatform.orders.api:8080
      - OpenTelemetry__Endpoint=http://jaeger:4317
      - Serilog__SeqServerUrl=http://seq:5341
    depends_on:
      - payment-db
      - rabbitmq
      - ticketsalesplatform.identity.api

  ticketsalesplatform.identity.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformidentityapi
    build:
      context: .
      dockerfile: src/Services/Identity/Identity.Api/Dockerfile
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - IdentityServer__IssuerUri=http://ticketsalesplatform.identity.api:8080
      - OpenTelemetry__Endpoint=http://jaeger:4317
      - Serilog__SeqServerUrl=http://seq:5341
    volumes:
      - identity_keys:/app/keys
     
  ticketsalesplatform.notifications.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformnotificationsapi
    build:
      context: .
      dockerfile: src/Services/Notifications/Dockerfile
    ports:
      - "7003:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - MessageBroker__Host=rabbitmq
      - OpenTelemetry__Endpoint=http://jaeger:4317
      - Serilog__SeqServerUrl=http://seq:5341
    depends_on:
      - rabbitmq

volumes:
  postgres_data:
  identity_keys:
  inventory_data:
  payment_data:  
  event_data:
  order_data: