services:
  # Infrastructure
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ticketsalesplatformdb
    volumes:
      - postgres_data:/var/lib/postgresql/data/
 
  inventory-db:
    image: postgres:15
    container_name: inventory-postgres
    ports:
      - "5433:5432" 
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: inventory_db
    volumes:
      - inventory_data:/var/lib/postgresql/data/

  payment-db:
    image: postgres:15
    container_name: payment-postgres
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: payment_db
    volumes:
      - payment_data:/var/lib/postgresql/data/
 
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  # Services
  ticketsalesplatform.apigateway:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformapigateway
    build:
      context: .
      dockerfile: src/ApiGateway/Dockerfile
    ports:
      - "7000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - Authentication__Authority=http://ticketsalesplatform.identity.api:8080
    depends_on:
      - ticketsalesplatform.events.api
      - ticketsalesplatform.orders.api
      - ticketsalesplatform.identity.api

  ticketsalesplatform.events.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformeventsapi
    build:
      context: .
      dockerfile: src/Services/Events/Events.Api/Dockerfile
    ports:
      - "7001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Host=postgres;Port=5432;Database=ticketsalesplatformdb;Username=user;Password=password
      - Authentication__Authority=http://ticketsalesplatform.identity.api:8080
    depends_on:
      - postgres
      - ticketsalesplatform.identity.api

  ticketsalesplatform.orders.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformordersapi
    build:
      context: .
      dockerfile: src/Services/Orders/Orders.Api/Dockerfile
    ports:
      - "7002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Database=Host=postgres;Port=5432;Database=ticketsalesplatformdb;Username=user;Password=password
      - Authentication__Authority=http://ticketsalesplatform.identity.api:8080
      - MessageBroker__Host=rabbitmq
      - Services__EventsApiUrl=http://ticketsalesplatform.events.api:8080
    depends_on:
      - postgres
      - rabbitmq
      - ticketsalesplatform.identity.api

  ticketsalesplatform.identity.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformidentityapi
    build:
      context: .
      dockerfile: src/Services/Identity/Identity.Api/Dockerfile
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - IdentityServer__IssuerUri=http://ticketsalesplatform.identity.api:8080
    volumes:
      - identity_keys:/app/keys
    
  ticketsalesplatform.notifications.api:
    image: ${DOCKER_REGISTRY-}ticketsalesplatformnotificationsapi
    build:
      context: .
      dockerfile: src/Services/Notifications/Dockerfile
    ports:
      - "7003:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - MessageBroker__Host=rabbitmq
    depends_on:
      - rabbitmq

volumes:
  postgres_data:
  identity_keys:
  inventory_data:
  payment_data:  